*/node_modules
backend/vendor
backend/.phpunit.result.cache
backend/.env.test.local
backend/.env*.local

.env
*-source.zip
artifacts/bundles/backend.zip
artifacts/bundles/documentation.zip
artifacts/bundles/frontend.zip
