:host {
  --page-frame-body: 1rem;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin-inline: auto;
  padding: var(--page-frame-body) var(--page-frame-body) 0;
}

.page-frame__body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding-top: var(--page-frame-body);
}
